@model OnlineStore.ViewModels.Product.BrandsEnumerableViewModel

<div class="brands_products">
    <!--brands_products-->
    <h2>Брэнды</h2>
    <div class="brands-name">


     
        <form asp-controller="Catalog" asp-action="Shop" asp-route-secid="@Model.SectionID" asp-route-catid="@Model.CategoryID">          

            <ul class="nav nav-pills nav-stacked">

                @for (int i = 0; i < Model.Brands.Count; i++)
                {
                <li>                    
                    <input type="hidden" asp-for="@Model.Brands[i].Id" />
                    <input type="hidden" asp-for="@Model.Brands[i].Name" />
                    <input type="hidden" asp-for="@Model.Brands[i].Order" />
                    <input type="hidden" asp-for="@Model.Brands[i].ProductsCount" />

                    @{ if (Model.Brands[i].Choosen)
                        {
                            <input asp-for="@Model.Brands[i].Choosen" type="checkbox" checked />
                        }
                        else
                        { <input asp-for="@Model.Brands[i].Choosen" type="checkbox" />}
                    }
                    <label asp-for="@Model.Brands[i].Name">@Model.Brands[i].Name (@Model.Brands[i].ProductsCount) </label>

                </li>
                }
            </ul>

            @*<div class="form-group">
                <input type="submit" value="Submit" />
            </div>*@
            <button type="submit" class="btn btn-primary" onclick="post()">Применить</button>
        </form>
    </div>
</div><!--/brands_products-->

<script>
    var model = {
        text: "Test_text",
        type: "test",
        name: "test_name"
    }

    function post() {
        var url = '/Utilities/Tool';
        $.ajax({
            url: url,
            data: JSON.stringify(model),
            type: 'POST',
            contentType: "application/json",
            success: function() {
                alert("all good");
            },
            error: function() {
                alert("all bad");
            }
        });
    }
</script>
