@model OnlineStore.ViewModels.CatalogViewModel
@using OnlineStore.Domain.SortsEntities
<!--Пользовательский TagHelper-->
@addTagHelper "*, OnlineStore"

<div class="features_items">

    <!--features_items-->
    <h2 class="title text-center">Товары</h2>

    <div>  
        @{  
             var routedata = new Dictionary<string, object>();
            routedata.Add("SecID", Model.SectionId);
            routedata.Add("CatID", Model.CategoryId);
            if (Model.Brands!=null)
            {
                var JsonCollection = Html.Raw(Json.Serialize(Model.Brands));
                routedata.Add("JsonBrands", JsonCollection);
            }
           
    <sort action-name="Catalog" controller-name="Shop" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" route-data="@routedata"
          property="@Model.SortViewModel.NameSort">
        Название
    </sort>
    }
    @{
        var JsonBrands = @Html.Raw(Json.Serialize(Model.Brands));

        <form asp-controller="Catalog" asp-action="Shop" asp-route-secid="@Model.SectionId" asp-route-catid="@Model.CategoryId" asp-route-jsonbrands="@JsonBrands">
            @for (int i = 0; i < Model.Brands.Count; i++)
            {
                <input type="hidden" asp-for="@Model.Brands[i].Id" />
                <input type="hidden" asp-for="@Model.Brands[i].Name" />
                <input type="hidden" asp-for="@Model.Brands[i].Order" />
                <input type="hidden" asp-for="@Model.Brands[i].Choosen" />
                <input type="hidden" asp-for="@Model.Brands[i].ProductsCount" />
            }

            <span>
                Сортировать по:
            </span>

            <button type="submit" class="btn btn-primary-outline" name="sortValue" value="@ViewBag.NameSort"><i class="text-info">Названию |</i></button>
            <button type="submit" class="btn btn-primary-outline" name="sortValue" value="@ViewBag.BrandSort"><i class="text-info">Бренду |</i></button>
            <button type="submit" class="btn btn-primary-outline" name="sortValue" value="@ViewBag.PriceSort"><i class="text-info">Цене </i></button>

            <sort action-name="Shop" controller-name="Catalog"></sort>
        </form>
    }
</div>

    <br>

    @foreach (var product in Model.Products)
    {
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="@product.Image.Path" alt="@product.Name" />
                        <h2>@(product.Price.ToString("C"))</h2>
                        <p>@product.Name</p>
                        <p>@product.Brand.Name</p>
                        <a asp-controller="Cart" asp-action="AddtoCart" asp-route-id="@product.Id"
                           class="btn btn-default add-to-cart">
                            <i class="fa fa-shopping-cart">
                            </i>
                            В корзину
                        </a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>@(product.Price.ToString("C"))</h2>
                            <p><a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@product.Id">@product.Name</a></p>
                            <a asp-controller="Cart" asp-action="AddtoCart" asp-route-id="@product.Id"
                               class="btn btn-default add-to-cart">
                                <i class="fa fa-shopping-cart">
                                </i>
                                В корзину
                            </a>
                        </div>
                    </div>
                    <img src="~@product.Image.Path" class="new" alt="" />
                </div>
            </div>
        </div>
    }
</div>
