@model OnlineStore.ViewModels.CatalogViewModel
<!--Пользовательский TagHelper-->
@addTagHelper "*, OnlineStore"

<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Товары</h2>

    <div>
        <span>
            Сортировать по:
        </span>

        @{
                var parms = new Dictionary<string, object>
            {
                { "SecID", Model.SectionId },
                { "CatID", Model.CategoryId },              
                {"Brands", Model.Brands}
            };
        }

    <form asp-controller="Catalog" asp-action="Shop" asp-route-secid="@Model.SectionId" asp-route-catid="@Model.CategoryId">

        @foreach (var brand in Model.Brands)
        {
            <input type="hidden" asp-for="@brand.Id" />
            <input type="hidden" asp-for="@brand.Name" />
            <input type="hidden" asp-for="@brand.Order" />
            <input type="hidden" asp-for="@brand.ProductsCount" />
            <input type="hidden" asp-for="@brand.Choosen"/>
        }

        <sort type="submit" action-name="Shop" controller-name="Catalog" route-data="parms" up="@Model.ProductsWithSortModel.SortViewModel.Up" current="@Model.ProductsWithSortModel.SortViewModel.Current"
              property="@Model.ProductsWithSortModel.SortViewModel.NameSort">
            Названию |
        </sort>

        <sort type="submit" action-name="Shop" controller-name="Catalog" route-data="parms" up="@Model.ProductsWithSortModel.SortViewModel.Up" current="@Model.ProductsWithSortModel.SortViewModel.Current"
              property="@Model.ProductsWithSortModel.SortViewModel.BrandSort">
            Бренду |
        </sort>

        <sort type="submit" action-name="Shop" controller-name="Catalog" route-data="parms" up="@Model.ProductsWithSortModel.SortViewModel.Up" current="@Model.ProductsWithSortModel.SortViewModel.Current"
              property="@Model.ProductsWithSortModel.SortViewModel.PriceSort">
            Цене
        </sort>       
    </form>
       
    </div>

    <br>

    @foreach (var product in Model.ProductsWithSortModel.Products)
    {
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="@product.Image.Path" alt="@product.Name" />
                        <h2>@(product.Price.ToString("C"))</h2>
                        <p>@product.Name</p>
                        <a asp-controller="Cart" asp-action="AddtoCart" asp-route-id="@product.Id"
                           class="btn btn-default add-to-cart">
                            <i class="fa fa-shopping-cart">
                            </i>
                            В корзину
                        </a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>@(product.Price.ToString("C"))</h2>
                            <p><a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@product.Id">@product.Name</a></p>
                            <a asp-controller="Cart" asp-action="AddtoCart" asp-route-id="@product.Id"
                               class="btn btn-default add-to-cart">
                                <i class="fa fa-shopping-cart">
                                </i>
                                В корзину
                            </a>
                        </div>
                    </div>
                    <img src="~@product.Image.Path" class="new" alt="" />
                </div>
            </div>
        </div>
    }
</div>
