@model IEnumerable<OnlineStore.ViewModels.ProductViewModel>

<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">@Model.First().Section.Name</h2>

    @foreach (var product in Model)
    {
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="@product.Image.Path" alt="@product.Name" />
                        <h2>@(product.Price.ToString("C"))</h2>
                        <p>@product.Name</p>
                        <a asp-controller="Cart" asp-action="AddtoCart" asp-route-id="@product.Id"
                           class="btn btn-default add-to-cart">
                            <i class="fa fa-shopping-cart">
                            </i>
                            В корзину
                        </a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>@(product.Price.ToString("C"))</h2>
                            <p><a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@product.Id">@product.Name</a></p>
                            <a asp-controller="Cart" asp-action="AddtoCart" asp-route-id="@product.Id"
                               class="btn btn-default add-to-cart">
                                <i class="fa fa-shopping-cart">
                                </i>
                                В корзину
                            </a>
                        </div>
                    </div>
                    <img src="~@product.Image.Path" class="new" alt="" />
                </div>                
            </div>
        </div>
    }
</div>
