@model List<OnlineStore.ViewModels.CategoryViewModel>

<h2>Категории</h2>

<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->

    @foreach (var category in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">

                    @if (category.Choosen)
                    {
                        <a asp-controller="Catalog" asp-action="Shop" asp-route-secid="@category.SectionID" asp-route-catid="@category.Id"><b>@category.Name</b></a>
                    }
                    else
                    {<a asp-controller="Catalog" asp-action="Shop" asp-route-secid="@category.SectionID" asp-route-catid="@category.Id">@category.Name</a>}

                </h4>
            </div>
        </div>        
    }
</div><!--/category-products-->