@model List<OnlineStore.ViewModels.Product.CategoryTabViewModel>

<div class="category-tab">
    <!--category-tab-->
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            @for (int i = 0; i < Model.Count; i++)
            {
                if (i == 0)
                {
                    <li class="active"><a href="#@Model[i].Section.Name" data-toggle="tab">@Model[i].Section.Name</a></li>
                }
                else
                {
                    <li><a href="#@Model[i].Section.Name" data-toggle="tab">@Model[i].Section.Name</a></li>
                }
            }
            
        </ul>
    </div>
    <div class="tab-content">
        @for (int i = 0; i < Model.Count; i++)
        {
            if (i == 0)
            {
                <div class="tab-pane fade active in" id="@Model[i].Section.Name">
                    @foreach (var prod in Model[i].Products)
                    {
                        <div class="col-sm-3">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="@prod.Image.Path" alt="@prod.Name" />
                                        <h2>@prod.Price.ToString("C")</h2>
                                        <p>>@prod.Name</p>
                                        <a asp-controller="Cart" asp-action="AddtoCart" asp-route-id="@prod.Id"
                                           class="btn btn-default add-to-cart">
                                            <i class="fa fa-shopping-cart">
                                            </i>
                                            В корзину
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
            <div class="tab-pane fade" id="@Model[i].Section.Name">        

                @foreach (var prod in Model[i].Products)
                {
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="@prod.Image.Path" alt="@prod.Name" />
                                    <h2>@prod.Price.ToString("C")</h2>
                                    <p>>@prod.Name</p>
                                    <a asp-controller="Cart" asp-action="AddtoCart" asp-route-id="@prod.Id"
                                       class="btn btn-default add-to-cart">
                                        <i class="fa fa-shopping-cart">
                                        </i>
                                        В корзину
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
            }
        }
        </div>
</div>