@model OnlineStore.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Детально";
    Layout = "_LayoutAdminArea";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div>
            <b>Название</b>
            <p class="fa-border alert-danger">
                @Model.Name
            </p>
        </div>
        <div>
            <b>Заказ</b>
            <p class="fa-border alert-danger">
                @Model.Order
            </p>
        </div>
        <div>
            <b>Секция</b>
            <p class="fa-border alert-danger">
                @Model.Section.Name
            </p>
        </div>
        <div>
            <b>Бренд</b>
            <p class="fa-border alert-danger">
                @Model.Brand.Name
            </p>
        </div>
        <div>
            <b>Цена</b>
            <p class="fa-border alert-danger">
                @Model.Price
            </p>
        </div>
        <div class="container">
            <img src="@Model.Image.Path" alt="">
        </div>
        <div>
            <input type="button" onclick="history.go(-1)" value="Назад" />
        </div>
        <div>
            <br />
        </div>
    </div>
</div>
<hr />

