@model OnlineStore.Areas.Admin.ViewModels.ProductListViewModel
@using OnlineStore.Domain.SortsEntities
<!--Пользовательский TagHelper-->
@addTagHelper "*, OnlineStore"

@{
    ViewData["Title"] = "Список товаров";
    Layout = "_LayoutAdminArea";
}

@{
    var routedata = new Dictionary<string, string>();
    routedata.Add("SecID", Model.productFilter.SectionId.ToString());
    routedata.Add("CatID", Model.productFilter.CategoryId.ToString());
    routedata.Add("Name", Model.productFilter.Name);
    if (Model.productFilter.BrandIdCollection != null && Model.productFilter.BrandIdCollection.Count > 0)
    {
        var JsonCollection = Html.Raw(Json.Serialize(Model.productFilter.BrandIdCollection));
        routedata.Add("JsonBrands", JsonCollection.ToString());
    }
}

<h2>@ViewData["Title"]</h2>

<hr />
<div>
    <a asp-controller="HomeAdmin" asp-action="Index" class="btn btn-default">Назад</a>
</div>

<br />

<a asp-area="Admin" asp-controller="ProductList" asp-action="Edit" class="btn btn-default">Добавить товар</a>

<hr />

@*ФИЛЬТРАЦИЯ ДАННЫХ*@
<form  asp-area="Admin" asp-controller="ProductList" asp-action="Index">
    <ul class="list-inline">
        <li>
            <label class="control-label">Наименование товара: </label>
            @Html.TextBox("Name", Model.productFilter.Name, htmlAttributes: new { @class = "form-control" })
        </li>
        <li>
            <label class="control-label">Секции: </label>
            @Html.DropDownList("SecID", Model.Sections as SelectList,
                    htmlAttributes: new { @class = "form-control" })
        </li>
        <li>
            <label class="control-label">Категории: </label>
            @Html.DropDownList("CatID", Model.Categories as SelectList,
                    htmlAttributes: new { @class = "form-control" })
        </li>

        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="btn bt">
                <b>Выбрать Бренд</b><b class="caret"></b>
            </a>           
            <ul class="dropdown-menu pre-scrollable">

                @for (int i = 0; i < Model.Brands.Count; i++)
                {
                    <li style="white-space:nowrap">
                        @if (Model.Brands[i].Choosen)
                        {
                            <input type="checkbox" name="Brands"
                                    id="@Model.Brands[i].Id" value="@Model.Brands[i].Id"
                                    class="styled" checked>}
                        else
                        { <input type="checkbox" name="Brands"
                                    id="@Model.Brands[i].Id" value="@Model.Brands[i].Id"
                                    class="styled">}

                        <label>@Model.Brands[i].Name </label>
                    </li>
                }
            </ul>     

        </li>
    </ul>
    <hr />
    <button type="submit" class="btn btn-primary">Фильтр</button>
    <a asp-controller="ProductList" asp-action="Index" asp-area="Admin" class="btn btn-primary">Очистить фильтр</a>
</form>

<br />

@*ДАННЫЕ*@
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                <sort action-name="Index" controller-name="ProductList" area-name="Admin" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" route-data="@routedata"
                      property="@Model.SortViewModel.NameSort">
                    Название
                </sort>
            </th>
            <th>
                <sort action-name="Index" controller-name="ProductList" area-name="Admin" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" route-data="@routedata"
                      property="@Model.SortViewModel.SectionSort">
                    Секция
                </sort>
            </th>
            <th>
                <sort action-name="Index" controller-name="ProductList" area-name="Admin" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" route-data="@routedata"
                      property="@Model.SortViewModel.CategorySort">
                    Категория
                </sort>
            </th>>
            <th>
                <sort action-name="Index" controller-name="ProductList" area-name="Admin" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" route-data="@routedata"
                      property="@Model.SortViewModel.BrandSort">
                    Бренд
                </sort>
            </th>
            <th>
                <sort action-name="Index" controller-name="ProductList" area-name="Admin" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" route-data="@routedata"
                      property="@Model.SortViewModel.PriceSort">
                    Цена
                </sort>
            </th>

            <th>Изображение </th>
            <th>Просмотреть</th>
            @if (User.IsInRole("Administrator"))
            {
                <th>Удалить из базы</th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
        <tr>
            <td><a asp-area="Admin" asp-controller="ProductList" asp-action="Edit" asp-route-idproduct="@product.Id"><i class="fa fa-edit"></i></a></td>
            <td>@product.Name</td>
            <td>@product.Section.Name</td>
            <td>@product.Category.Name</td>
            <td>@product.Brand.Name</td>
            <td>@product.Price</td>
            <td> <img src="@product.Image.Path" height="100" width="100" alt=""></td>
            <td><a asp-area="Admin" asp-controller="ProductList" asp-action="Details" asp-route-id="@product.Id">Подробно</a></td>
            @if (User.IsInRole("Administrator"))
            {
                <td><a asp-area="Admin" asp-controller="ProductList" asp-action="Delete" asp-route-id="@product.Id"><i class="fa fa-times text text-danger" /></a></td>
            }
        </tr>
        }
    </tbody>
</table>
<div>
    @{
        routedata.Add("sortValue", Model.SortViewModel.Current);
        routedata.Add("needChangeSort", "false");
    }
    <page-link page-model="Model.PageViewModel" action-name="Index" controller-name="ProductList" area-name="Admin" route-data="routedata"></page-link>
</div>

